{
  "app": {
    "name": "service-a",
    "host": "0.0.0.0",
    "port": 4003,
    "register_address": "service-a2",
    "health_check_address": "service-a2"
  },
  "consul": {
    "host": "consul",
    "port": 8500,
    "scheme": "http"
  }
}
