{
  "app": {
    "name": "service-b",
    "host": "0.0.0.0",
    "port": 4002,
    "register_address": "service-b",
    "health_check_address": "service-b"
  },
  "consul": {
    "host": "consul",
    "port": 8500,
    "scheme": "http"
  }
}
